<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KanbanBoard</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sarabun"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../css/form.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="../../js/index.js"></script>
    <style>
      form {
        padding: 30px 50px;
      }
      .select-box .options-container.active {
          margin-top: 5px;
      }
    </style>
    <script src="../../js/sidebar.js"></script>
    <script>
      $(document).ready(() => {
        $("#TextContent").click(() => {
          $("#Img").css("display", "none")
          $("#Text").fadeIn("slow");
          });
          

        $("#ImageContent").click(() => {
          $("#Text").css("display", "none");
          $("#Img").fadeIn("slow");
          });
        });
    </script>
  </head>
  <body>
    <nav class="Navbar">
      <button class="Hamburger">☰</button>
      <a href="/">KanbanBoard</a>
      </div>
  </nav>

  <div class="Sidebar" id="Sidebar" style="display: none; background-color: rgba(255, 255, 255, 0.25)">
    <a href="../"><h3 class="SidebarItem">Home</h3></a>
    <a href="/Kanbanboard"><h3 class="SidebarItem">Create Kanbanboard</h3></a>
    <a href="/Kanbanboards"><h3 class="SidebarItem">Select Kanbanboard</h3></a>
  </div>
    
      <div class="Form">
        <h3>Edit Tile:</h3>
        <form action="" method="POST"enctype="multipart/form-data">

          <div class="select-box">
            <select id="name" name="name" multiple="" class="options-container">              
              {{ range . }}
              <option class="option" value="{{ .Title }}">{{ .Title }}</option>
              {{ end }}
            </select>
    
            <div class="selected">
              Select new Column:
            </div>
          </div>
            <label for="ftitle">Insert title:</label>
            <input type="text" name="title" id="ftitle" placeholder="Insert tile title:">
            <label for="ftitle">Insert author:</label>
            <input type="text" name="author" id="fauthor" placeholder="Insert author:">

            <div class="RadioContent">
              <label class="RadioContainer">Text content<input id="TextContent" type="radio" name="type" checked="checked" value="Text"><span class="checkmark"></span></label>
              <label class="RadioContainer">Image content<input id="ImageContent" type="radio" name="type" value="Image">  <span class="checkmark"></span></label>
            </div>
          
            <div id="Text">
              <label for="ftitle">Insert content:</label>
              <input type="text" name="content" id="textContent" placeholder="Insert text content:"> 
            </div> 

            <div id="Img" style="display: none; margin-top: 5px; margin-bottom: 25px;">
              <label for="ftitle">Insert image:</label><br/>
              <input id="imageUpload" type="file" name="image" placeholder="Photo" capture>
            </div>

            <div class="ButtonsForm">
              <input class="BackButton" type="button" value="Back" onClick="history.go(-1);return true;">
              <input type="submit" value="Edit">
            </div>
        </form>
      </div>
    </main>
    <footer>
      <div class="Footer">
        <h5>@KanbanBoard</h5>
        <h5>Made and coded by: <a href="https://github.com/CamiGus" style="color:rgb(32, 32, 32)">CamiGus</a>, <a href="https://github.com/GiacoLenzo2109" style="color:rgb(32, 32, 32);">GiacoLenzo2109</a></h5>
      </div>
    </footer>
  </body>
</html>