<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KanbanBoard</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sarabun"/>
    <link rel="stylesheet" type="text/css" href="../../css/index.css">
    <link rel="stylesheet" type="text/css" href="../../css/form.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <style>
      .Form{
          height: 65vh;
      }
  </style>
  <script src="../../js/sidebar.js"></script>
  </head>
  <body>
    <main>
      <nav class="Navbar">
        <button class="Hamburger">☰</button>
        <a href="/">KanbanBoard</a>
        </div>
    </nav>

    <div class="Sidebar" id="Sidebar" style="display: none; background-color: rgba(255, 255, 255, 0.25)">
      <a href="../"><h3 class="SidebarItem">Home</h3></a>
      <a href="/Kanbanboard"><h3 class="SidebarItem">Create Kanbanboard</h3></a>
      <a href="/Kanbanboards"><h3 class="SidebarItem">Select Kanbanboard</h3></a>
    </div>

    {{ with . }}
      <div class="Form">
        <h3>Edit Column:</h3>
        <form action="" method="POST">
            <label for="ftitle">Insert title:</label>
            <input type="text" name="title" id="ftitle" placeholder="Last name: {{ .Title }}">
            <br/>
            <div class="ButtonsForm">
              <input class="BackButton" type="button" value="Back" onClick="history.go(-1);return true;">
              <input type="submit" value="Edit">
            </div>
        </form>
      </div>
      {{ end }}
    </main>
    <footer>
      <div class="Footer">
        <h5>@KanbanBoard</h5>
        <h5>Made and coded by: <a href="https://github.com/CamiGus" style="color:rgb(32, 32, 32)">CamiGus</a>, <a href="https://github.com/GiacoLenzo2109" style="color:rgb(32, 32, 32);">GiacoLenzo2109</a></h5>
      </div>
    </footer>
  </body>
</html>