<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KanbanBoard</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sarabun"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="../js/sidebar.js"></script>
  </head>
  <body>
    <main>
      <nav class="Navbar">
          <button class="Hamburger">☰</button>
          <a href="/">KanbanBoard</a>
          </div>
      </nav>


      <div class="Sidebar" id="Sidebar" style="display: none; background-color: rgba(255, 255, 255, 0.25)">
        <a href=""><h3 class="SidebarItem">Home</h3></a>
        <a href="/Kanbanboard"><h3 class="SidebarItem">Create Kanbanboard</h3></a>
        <a href="/Kanbanboards"><h3 class="SidebarItem">Select Kanbanboard</h3></a>
      </div>


      {{ with . }}
      <div class="KanbanBoard">
        <div class="TeamProject">
          <h1>{{ .Name }}</h1>
          <div class="Edit_kanbanboad" style="display: flex; flex-direction: row;">
            <a href="Columns_stored" style="font-size: 1.5rem">📦</a>
            <div class="Delete_Kanbanboard" style="margin-left: 30px;">
              <form action="" method="POST" target="myFrame" id="myForm" onsubmit="return confirm('Are you sure to delete kanbanboard {{ .Name }}?');">
                <label style="cursor: pointer; font-size: 1.5rem;">🗑️<input type="submit" class="Button" value="" style="background-color: transparent; border: none;"></label></form>
            </div>
          </div>
        </div>
        <div class="Blackboard">
          {{ range .Columns }}
            {{ if .State }}
          <section class="Column">
            <div class="Column_Title">
              <div class="CTitle">
                <h3>{{.Title }}</h3>
              </div>
              <div class="Change_Column">
                <div class="Add_Tile">
                  <a href="Column_{{ .ID }}/Tile">+</a>
                </div>
                <div class="Edit_Column">
                  <a href="Column_{{ .ID }}/Edit">✏️</a>
                </div>
                <div class="Store_Column">
                  <form action="Column_{{ .ID }}/Store" method="POST" target="myFrame" id="myForm">
                    <label style="cursor: pointer;">📦<input type="submit" class="Button" value="" style="background-color: transparent; border: none;"></label></form>
                </div>
                <div class="Delete_Column">
                  <form action="Column_{{ .ID }}/Delete" method="POST" target="myFrame" id="myForm">
                    <label style="cursor: pointer;">🗑️<input type="submit" class="Button" value="" style="background-color: transparent; border: none;"></label></form>
                </div>
              </div>
            </div>
            <div class="Tiles_container">
              {{ range .Tiles }}
                {{ if .Type }}
                <section class="Tile" style="background-color: rgba(255, 255, 0, 0.75); color: black;">
                {{ else }}
                <section class="Tile" style="background-color: tomato; color: white;">
                {{ end }}
                  <div class="Tile_Title">
                    <h1>{{ .Title }}</h1>
                    <div class="Change_Tile">
                      <div class="Edit_Tile">
                        <a href="Tile_{{ .ID }}/Edit" style="font-size: 1.5rem;">🖊️</a>
                      </div>
                      <div class="Delete_Tile">
                        <form action="Tile_{{ .ID }}/Delete" method="POST" target="myFrame" id="myForm">
                          <label style="cursor: pointer; font-size: 1.5rem;">🗑️<input type="submit" class="Button" value="" style="background-color: transparent; border: none;"></label></form>
                      </div>
                    </div>
                  </div>
                  {{ if .Text }}
                    <div class="Tile_Content">
                      <h3 id="Content">{{ .Content }}</h3>
                      <img id="Image" value="{{ .Image }}" src="data:image;base64, {{ .ImageBase64  }}" style="display: none; width: 100px;">
                    </div>
                  {{ else }}
                    <div class="Tile_Content">
                      <h3 id="Content">{{ .Content }}</h3>
                      <img id="Image" value="{{ .Image }}" src="data:image;base64, {{ .ImageBase64  }}" style="width: 100px;">
                    </div>
                  {{ end }}
                    <div class="Author_container">
                      <img class="Author_image" src="../img/user2.png"/>
                      {{ if .Type }}
                      <div class="Author_Name" id="Author" style="color: rgba(0, 0, 0, 0.75)">
                        <h3>@{{ .Author }}</h3>
                      </div>
                      {{ else }}
                      <div class="Author_Name" id="Author">
                        <h3>@{{ .Author }}</h3>
                      </div>
                      {{ end }}
                    </div>
                </section>
              {{ end }}
            </div>
          </section>
          {{ end }}
          {{ end }}
          <div class="Add_Column_container">
            <a href="Column">
              <section class="Add_Column">+</section>
            </a>
          </div>
          
        </div>
      </div>
      {{ end }}
    </main>
    <footer>
      <div class="Footer" style="margin-top: 0px;">
        <h5>@KanbanBoard</h5>
        <h5>Made and coded by: <a href="https://github.com/CamiGus" style="color:rgb(32, 32, 32)">CamiGus</a>, <a href="https://github.com/GiacoLenzo2109" style="color:rgb(32, 32, 32);">GiacoLenzo2109</a></h5>
      </div>
    </footer>
  </body>
</html>