<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KanbanBoard</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sarabun"/>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <script src="../js/sidebar.js"></script>
	  <script src="../js/index.js"></script>


  </head>
  <body>
    <main>
      <nav class="Navbar">
        <button class="Hamburger">☰</button>
        <a href="/">KanbanBoard</a>
        </div>
    </nav>

    <div class="Sidebar" id="Sidebar" style="display: none; background-color: rgba(255, 255, 255, 0.25)">
      <a href="/"><h3 class="SidebarItem">Home</h3></a>
      <a href="/Kanbanboard"><h3 class="SidebarItem">Create Kanbanboard</h3></a>
      <a href="/Kanbanboards"><h3 class="SidebarItem">Select Kanbanboard</h3></a>
    </div>



      <div class="Form" style="height: 75%;">
        <form action="/Kanbanboards" method="POST" style="height: 90%">
        <div class="container">
          <h3>Kanbanboard:</h3>
          <div class="select-box">
            <select id="name" name="name" multiple="" class="options-container">              
              {{ range . }}
              <option class="option" value="{{ .Name }}">{{ .Name }}</option>
              {{ end }}
            </select>
    
            <div class="selected">
              Select Kanbanboard:
            </div>
    
            <div class="search-box">
              <input type="text" name="search" placeholder="Search..." />
            </div>
          </div>
        </div>
        <div class="ButtonsForm" style="margin-top: 15px;">
          <input class="BackButton" type="button" value="Back" onClick="history.go(-1);return true;">
          <input type="submit" name="submit" value="Select">
        </div>
        </form>
      </div>
    </main>
    <footer>
      <div class="Footer">
        <h5>@KanbanBoard</h5>
        <h5>Made and coded by: <a href="https://github.com/CamiGus" style="color:rgb(32, 32, 32)">CamiGus</a>, <a href="https://github.com/GiacoLenzo2109" style="color:rgb(32, 32, 32);">GiacoLenzo2109</a></h5>
      </div>
    </footer>
  </body>
</html>
