body{
    height: 100vh;
    overflow: hidden;
}

.Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(255,255,255, 0.5);
    width: 55%;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 25px;
}

.Form h3 {
  margin-top: 15px;
}

@media screen and (max-width: 1048px) {
    .Form{
        width: 75%;
    }
}

form{
    font-size: 2.25vh;
    padding: 50px 50px;
    background-color: rgba(255, 255, 0, 0.5);
    background-size: 150px;
    border-radius: 25px;
    width: 65%;
    margin-bottom: 25px;
}

h3 {
    font-size: 2.75vh;
    font-weight: bold;
    margin-bottom: 5%;
}

.ButtonsForm {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

form [type=submit], .BackButton {
    width: 50%;
    background-color: #011aff;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5vh;
    font-weight: bold;
    float: right;
    transition: ease-in-out all 0.25s;
}

.BackButton {
  width: 50%;
  background-color: #646464bb;
  margin-right: 5px;
}

.BackButton:hover {
  transition: ease-in-out all 0.25s;
  background-color: #8d8d8d;
  transform: scale(0.975);
}
@media screen and (max-width: 768px) {
    form [type=submit], .Back {
        width:50%;
        float: unset;
    }
}

input[type=submit]:hover {
    transition: ease-in-out all 0.25s;
    background-color: #003cff;
    transform: scale(0.975);
  }
  

form [type=text]{
    width: 100%;
    padding: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


label {
    color: black;
    font-weight: bold;
}


.RadioContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
}

.RadioContainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.15rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .RadioContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .RadioContainer:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .RadioContainer input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .RadioContainer input:checked ~ .checkmark:after {
    display: block;
  }
  
  .RadioContainer .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


  .select-box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .select-box .options-container {
    background: #2f3640;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;
  
    order: 1;
  }
  
  .selected {
    background: #2f3640;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    order: 0;
  }

  .selected::after {
    content: "";
    background: url("../img/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5%;
    transform: rotate(90deg);
  
    transition: all 0.4s;
  }

  @media  screen and (max-width: 600px) {
    .selected::after {
      right: 15%;
    }
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
    margin-top: 75px;
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotate(0deg);
    transform: translateY(15%);
  }
  
  .select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
  }
  
  .select-box .option,
  .selected {
    padding: 12px 24px;
    cursor: pointer;
  }
  
  .select-box .option:hover {
    background: #414b57;
  }
  
  .select-box label {
    cursor: pointer;
    color: white;
    font-size: 1rem;
  }
  
  .select-box .option .radio {
    display: none;
  }
  
  /* Searchbox */
  
  .search-box input {
    padding: 12px 16px;
    font-size: 1rem;
    position: absolute;
    border-radius: 15px;
    z-index: 100;
    border: 5px solid #2f3640;
  
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
  }
  
  .search-box input:focus {
    outline: none;
  }
  
  .select-box .options-container.active ~ .search-box input {
    opacity: 1;
    pointer-events: auto;
  }