 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sarabun";
}

body {
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(coral, rgb(255, 255, 88), /* rgb(107, 255, 107), */ rgb(114, 220, 255), violet);
}


.Navbar {
    display: flex;
    height: 7vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.225);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

a {
    text-decoration: none;
}

.Navbar a {
    font-family:"Fredoka One", cursive;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: black;
}
button {
    border-radius: 5px;
    transition: ease-in-out all 0.25s;
    text-align: center;
    width: 150px;
    border: none;
    margin-right: 15px;
    font-size: 1.15rem;
    cursor: pointer;
    letter-spacing: 1px;

    background-color: rgba(0, 255, 191, 0.5);    
}


.Sidebar {
    display: none;
    position: absolute;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 83vh;

    z-index: 3;
    
    margin-top: 1.5vh;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    
    
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.SidebarItem {
    color: rgb(0, 0, 0);
    margin-top: 25%;
    padding: 25px;
    font-size: 1.25rem;
    transition: ease-in-out all 0.25s;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.Sidebar a :hover{
    background-color: rgba(94, 94, 94, 0.25);
    transition: ease-in-out all 0.25s;
}

.Hamburger{
    display: block;
    position: absolute;
    /* margin-right: 95%; */
    transform: translateX(-47.5vw);
    width: auto;
    background-color: transparent;
}

.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 86vh;
    height: 7vh;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255, 255, 255, 0.225);
}

.KanbanBoard {
    display: flex;
    flex-direction: column;
    height: 83vh;
    width: 100vw - 15px;
    border: 1px solid rgb(255, 185, 185);
    background-color: rgba(255, 255, 255, 0.281);
    padding: 15px;
    margin: 15px;
    margin-top: 15px;
    z-index: 1;
    border-radius: 25px;
}

.TeamProject {
    display: flex;
    flex-direction: row;
    padding: 15px;
    height: 7vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
}

.TeamProject h3 {
    padding-left: 15px;
}

.Blackboard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 100%;
    margin-top: 25px;
    border: 1px solid rgb(255, 185, 185);
    background-color: rgba(104, 104, 104, 0.25);
    border-radius: 15px;
    padding: 25px;


    overflow-x: auto;
    overflow-y: hidden;
}

.Column{
    flex: 0 0 auto;
    width: 350px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
}

.CTitle {
    width: 50%;
}

.Column_Title, .Tile_Title{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.Column_Title h3, .Tile_Title h1{
    width: 70%;
}

.Change_Column{
    display: flex;
    flex-direction: row;
    z-index: 1;
    font-size: 1.25rem;
}

.Edit_Column, .Delete_Column, .Add_Tile, .Store_Column {
    margin-left: 15px;
}

.Add_Tile {
    transform: translateY(-8.5px);
    margin-left: 0px;
}

.Add_Tile a{
    color: rgb(250, 106, 54);
    font-weight: bold;
    font-size: 1.75rem;
    text-decoration: none;
}

.Add_Column{
    display: flex;
    width: 350px;
    height: 100%;
    flex: 0 0 auto;
    margin-right: 10px;
    background-color: rgba(83, 94, 255, 0.562);
    border-radius: 15px;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

.Add_Column_container a {
    color: rgb(255, 150, 110);
    font-weight: bold;
    font-size: 3.75rem;
    text-decoration: none;
}

.Tiles_container {
    display: flex;
    flex-direction: column;
    height: 93%;
    border-radius: 15px;
    overflow-x: none;
    overflow-y: auto;
}

.Tile {
    margin-top: 15px;
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
}

.Tile_Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Change_Tile {
    display: flex;
    flex-direction: row;
}


.Edit_Tile, .Delete_Tile{
    margin-left: 15px;
}

.Edit_Tile a, .Delete_Tile a{
    font-size: 1rem;
}

.Tile_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Tile_Content {
   margin-top: 25px; 
   text-overflow: ellipsis;
   word-wrap: break-word;
}
.Tile_Content h3 {
    font-size: 1rem;
    width: 100%;
}

.Author_container {
    display: flex;
    flex-direction: row;
    float: right;
    height: auto;
    align-items: center;
}

.Author_image {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.Author_Name {
    margin-top: 17.5px;
    margin-right: 15px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-overflow: ellipsis;
    word-wrap: break-word;
    width: 75%;
}



@media screen and (max-width: 600px){
    .Blackboard {
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .Column{
        flex: 0 0 auto;
        width: 100%;
        max-height: 66vh;
        margin-bottom: 10px;
    }

    .Buttons{
        display: none;
    }


    .Hamburger {
        margin-right: 90%;
    }


}

@media screen and (max-width :1000px){
    .Hamburger {
        transform: translateX(-45vw);
    }
}